@using MyWatcher.Models
@using MudBlazor

@*
<Modal Title="Add Item"
       Visible="@Visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="Add">
    <Form>
        <FormItem Label="">
        </FormItem>
        <FormItem Label="">
        </FormItem>
    </Form>
</Modal>
*@

<MudDialog>
    <TitleContent>
        <MudText>
            Add new item
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField @bind-Value="@_itemUrl" Label="Item Url" Variant="Variant.Outlined"/>
        <MudTextField @bind-Value="@_itemName" Label="Item Name" Variant="Variant.Outlined"/>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="@AddItem">Add</MudButton>
    </DialogActions>
</MudDialog>

@code {
    //Todo Add alert to the MudTextFields for when no text is written
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    public bool Visible { get; set; }
    //Add method invoke back to allow UserItemPage in updating its table

    private string _itemUrl;
    private string _itemName;

    public void AddItem()
    {
        if (string.IsNullOrEmpty(_itemUrl))
        {
            //<Alert Message="Need url" />
        }
        else if (string.IsNullOrEmpty(_itemName))
        {
            //<Alert Message="Need url" />
        }
        else
        {
            var userItemDto = new UserItemAddDTO(_itemUrl, _itemName, 1);
            Visible = false;
            MudDialog.Close(DialogResult.Ok(userItemDto));
        }
    }

    public void Cancel()
    {
        Visible = false;
        MudDialog.Cancel();
    }
}