@using MyWatcher.Models
@using MudBlazor

<div>
    <h3>UserItemTable</h3>
    <MudTable Items="@UserItemTableList" Hover="true" Loading="@_loadingTable" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh><strong>Id</strong></MudTh>
            <MudTh><strong>Name</strong></MudTh>
            <MudTh><strong>Price</strong></MudTh>
            <MudTh><strong>Last Scanned</strong></MudTh>
            <MudTh><strong>Active</strong></MudTh>
        </HeaderContent>
        <NoRecordsContent>
            <Empty Simple/>
        </NoRecordsContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
            <MudTd DataLabel="LastScan">@context.LastScan</MudTd>
            <MudTd DataLabel="Active">@context.Active</MudTd>
        </RowTemplate>
    </MudTable>
</div>

@code {
    [Parameter] public List<UserItemTableDTO> UserItemTableList { get; set; }
    private bool _loadingTable=true;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<List<UserItemTableDTO>>(nameof(UserItemTableList), out var value))
        {
            if (value is null) { Console.WriteLine("The value of 'UserItemList' is null."); }
            else { Console.WriteLine($"The value of 'UserItem' is set with count {value.Count}"); }
        }
        await base.SetParametersAsync(parameters);
    }
    
    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await OnParametersSetAsync();
            //_loadingTable = false;
            StateHasChanged();
        }
    }
}