@using MyWatcher.Models
@using MudBlazor

<div>
    <h3>UserItemTable</h3>
    <MudTable Items="@UserItemTableList" Hover="true" Striped="true" Loading="@LoadingTable" LoadingProgressColor="Color.Info" Filter="new Func<UserItemTableDTO,bool>(FilterFunc1)">
        <ToolBarContent>
            <MudSpacer />
                    <MudTextField @bind-Value="_searchText" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh Style="width: 5%; height:10px"><strong>Id</strong></MudTh>
            <MudTh Style="width: 40%"><strong>Name</strong></MudTh>
            <MudTh Style="width: 15%"><strong>Price</strong></MudTh>
            <MudTh Style="width: 25%"><strong>Last Scanned</strong></MudTh>
            <MudTh Style="width: 5%"><strong>Active</strong></MudTh>
            <MudTh Style="width: 5%"><strong></strong></MudTh>
            <MudTh Style="width: 5%; height:10px"><strong></strong></MudTh>
        </HeaderContent>
        <NoRecordsContent>
            <Empty Simple/>
        </NoRecordsContent>
        <RowTemplate>
            <MudTd DataLabel="Id" Style="height:10px">@context.Id</MudTd>
            <MudTd DataLabel="Name" Style="height:10px">@context.Name</MudTd>
            <MudTd DataLabel="Price" Style="height:10px">@ShowPriceText(@context.Price)</MudTd>
            <MudTd DataLabel="LastScan" Style="height:10px">@DateToTime(@context.LastScan)</MudTd>
            <MudTd DataLabel="Active" Style="height:10px">@context.Active</MudTd>
            <MudTd>
                <MudSwitch @bind-Checked="@context.Active" Color="Color.Primary"></MudSwitch>
            </MudTd>
            <MudTd>
                <MudButton @onclick="@(() => OnDelete.InvokeAsync(@context))"><MudIcon Icon="@Icons.Material.TwoTone.Delete" Color="Color.Error"></MudIcon></MudButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            @*<MudTablePager InfoFormat="@($"Center {first_item}-{last_item} of {all_items})" HorizontalAlignment="HorizontalAlignment.Center" />*@
            <MudTablePager PageSizeOptions="new int[]{10, 25, 50, 100}" />
        </PagerContent>
    </MudTable>
</div>

@code {
    [Parameter] public List<UserItemTableDTO> UserItemTableList { get; set; }
    [Parameter] public EventCallback<UserItemTableDTO> OnDelete { get; set; }
    public bool LoadingTable { get; set; } = true;
    private string _searchText;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<List<UserItemTableDTO>>(nameof(UserItemTableList), out var value))
        {
            if (value is null) { Console.WriteLine("The value of 'UserItemList' is null."); }
            else { Console.WriteLine($"The value of 'UserItem' is set with count {value.Count}"); }
        }
        await base.SetParametersAsync(parameters);
    }
    
    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await OnParametersSetAsync();
            StateHasChanged();
        }
    }

    private string ShowPriceText(double price)
    {
        if (price == 0) return "Unknown";
        return price.ToString();
    }

    private string DateToTime(DateTime? dateTime)
    {
        if (dateTime == null) return "No scan yet";
        return dateTime.Value.ToString("dddd, dd MMMM yyyy");
    }
    
    private bool FilterFunc1(UserItemTableDTO element) => FilterFunc(element, _searchText);
    
    private bool FilterFunc(UserItemTableDTO element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        //if (element.URL.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            //return true;
        return false;
    }
}